.header {
  border-bottom: solid 1px;
}

.navigation {
  display: flex;
}

.link {
  padding: var(--spacing);
  transition: color 0.15s ease;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--primary);
  border-color: var(--primary);
}

.link.current {
  border-bottom: solid 2px;
}

@media (prefers-color-scheme: dark) {
  .header {
    border-color: var(--darkGray);
  }
}
