.card {
  display: block;
  margin: 1rem;
  padding: calc(var(--spacing) * 3);
  border: 1px solid var(--offWhite);
  border-radius: var(--borderRadius);
  color: inherit;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  border-color: var(--primary);
  color: var(--primary);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (min-width: 600px) {
  .card {
    max-width: 300px;
  }
}
