.root {
  width: 100%;
  background: var(--offWhite);
  padding: calc(var(--spacing) * 5) 0;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .root {
    background: var(--darkGray);
  }
}
