.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 calc(var(--spacing) * 2);
}

.container.small {
  max-width: 800px;
}

.container.large {
  max-width: 1600px;
}

@media (min-width: 600px) {
  .container {
    padding: 0 calc(var(--spacing) * 4);
  }
}
