.footer {
  display: flex;
  flex: 1;
  padding: calc(var(--spacing) * 4) 0;
  border-top: 1px solid var(--offWhite);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: var(--darkGray);
  }

  .logo img {
    filter: invert(1);
  }
}
