h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
li:last-child {
  margin-bottom: 0;
}

h1 {
  line-height: 1.15;
  font-size: 4rem;
}

p,
ul,
li {
  margin-bottom: 1em;
}

code {
  background: var(--offWhite);
  border-radius: calc(var(--spacing) * 0.5);
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (prefers-color-scheme: dark) {
  code {
    background: var(--darkGray);
  }
}
